<a href="https://colab.research.google.com/github/AliyaMZ/Python/blob/main/Task_6_SQlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Создание базы данных и таблиц
Создайте базу данных library.db и таблицу books с полями:

id (PRIMARY KEY, AUTOINCREMENT),
title (TEXT, NOT NULL),
author (TEXT, NOT NULL),
year_published (INTEGER),
genre (TEXT).

In [1]:
import sqlite3

connection=sqlite3.connect("library.db")
cursor=connection.cursor()
create_table_query='''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
);
'''
cursor.execute(create_table_query)
connection.commit()
connection.close()

2. Вставка данных
Добавьте в таблицу books следующие записи:

"The Great Gatsby", автор: F. Scott Fitzgerald, год: 1925, жанр: Fiction.
"1984", автор: George Orwell, год: 1949, жанр: Dystopian.
"To Kill a Mockingbird", автор: Harper Lee, год: 1960, жанр: Classic.

In [2]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

books_data = [
  ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
  ("1984", "George Orwell", 1949, "Dystopian"),
  ("To Kill a Mockingbird", "Harper Lee", 1960, "Classic")
]

insert_query = '''
INSERT INTO books (title, author, year_published, genre)
VALUES (?, ?, ?, ?)
'''

cursor.executemany(insert_query, books_data)
connection.commit()
connection.close()

print("Данные успешно добавлены в таблицу books.")

Данные успешно добавлены в таблицу books.

3. Выборка всех данных
Напишите запрос, который выбирает все книги из таблицы books.

In [3]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

select_query = '''
SELECT * FROM books;
'''
cursor.execute(select_query)

rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

4. Фильтрация данных
Выберите все книги, опубликованные после 1950 года.

In [4]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

select_query = '''
SELECT * FROM books WHERE year_published > ?;
'''
year_limit = 1950

cursor.execute(select_query, (year_limit,))

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.close()

(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

5. Использование оператора LIKE
Найдите все книги, название которых начинается с буквы "T".

In [5]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

select_query = '''
SELECT * FROM books WHERE title LIKE ?;
'''
search_pattern = 'T%'

cursor.execute(select_query, (search_pattern,))

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.close()

(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

6. Сортировка данных
Отсортируйте книги по году публикации в порядке возрастания.

In [8]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

query = '''
SELECT * FROM books
ORDER BY year_published ASC
'''
cursor.execute(query)

sorted_books = cursor.fetchall()

print("Книги, отсортированные по году публикации (по возрастанию):")
for book in sorted_books:
    print(book)

conn.close()

Книги, отсортированные по году публикации (по возрастанию):
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')

7. Ограничение количества строк
Выберите первые две книги из таблицы books, отсортированные по названию.

In [10]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

query = '''
SELECT * FROM books
ORDER BY title ASC
LIMIT 2
'''
cursor.execute(query)

first_two_books = cursor.fetchall()

print("Первые две книги, отсортированные по названию:")
for book in first_two_books:
    print(book)

conn.close()

Первые две книги, отсортированные по названию:
(2, '1984', 'George Orwell', 1949, 'Dystopian')
(1, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction')

8. Агрегатные функции
Подсчитайте общее количество книг в таблице books.

In [11]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('SELECT COUNT(*) FROM books')

total_books = cursor.fetchone()[0]

print(f"Общее количество книг в таблице: {total_books}")

conn.close()

Общее количество книг в таблице: 3

9. Группировка данных
Подсчитайте количество книг для каждого жанра.

In [12]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

query = '''
SELECT genre, COUNT(*) as book_count
FROM books
GROUP BY genre
ORDER BY book_count DESC
'''
cursor.execute(query)

genre_stats = cursor.fetchall()

print("Количество книг по жанрам:")
for genre, count in genre_stats:
    print(f"{genre}: {count}")
conn.close()

Количество книг по жанрам:
Fiction: 1
Dystopian: 1
Classic: 1

10. Обновление данных
Обновите год публикации книги "1984" на 1948.

In [16]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

update_query = '''
UPDATE books
SET year_published = 1984
WHERE title = '1984'
'''
cursor.execute(update_query)

connection.commit()
connection.close()

11. Удаление данных
Удалите книгу с названием "The Great Gatsby".

In [17]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

delete_query = '''
DELETE FROM books
WHERE title = ?;
'''
book_title = "The Great Gatsby"

cursor.execute(delete_query, (book_title,))

connection.commit()
connection.close()

12. Создание индекса
Создайте индекс для столбца author в таблице books.

In [19]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

create_index_query = '''
CREATE INDEX IF NOT EXISTS idx_books_author
ON books (author)
'''
cursor.execute(create_index_query)

conn.commit()
conn.close()

13. Проверка существования индекса
Проверьте, существует ли индекс для столбца author.

In [21]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
SELECT name FROM sqlite_master
WHERE type = 'index' AND name = 'idx_books_author'
''')
index_exists = cursor.fetchone()

if index_exists:
    print("Индекс idx_books_author существует")
else:
    print("Индекс idx_books_author не существует")

conn.close()

Индекс idx_books_author существует

14. Триггер для логирования
Создайте триггер, который записывает изменения в таблицу logs при добавлении новой книги.

In [22]:
import sqlite3
from datetime import datetime

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    action TEXT NOT NULL,
    book_id INTEGER,
    book_title TEXT,
    change_date TEXT NOT NULL,
    FOREIGN KEY (book_id) REFERENCES books (id)
)
''')

cursor.execute('''
CREATE TRIGGER IF NOT EXISTS log_new_book
AFTER INSERT ON books
BEGIN
    INSERT INTO logs (action, book_id, book_title, change_date)
    VALUES ('INSERT', NEW.id, NEW.title, datetime('now'));
END;
''')

cursor.execute('''
INSERT INTO books (title, author, year_published, genre)
VALUES ('The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')
''')

cursor.execute('SELECT * FROM logs')
logs = cursor.fetchall()

print("Записи в логах:")
for log in logs:
    print(log)

conn.commit()
conn.close()

Записи в логах:
(1, 'INSERT', 4, 'The Hobbit', '2025-04-25 11:58:28')

15. Транзакции
Создайте программу, которая выполняет следующие действия в рамках одной транзакции:

Добавляет новую книгу.
Обновляет год публикации другой книги.
Отменяет изменения, если возникает ошибка.

In [23]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

try:
    cursor.execute('BEGIN TRANSACTION')

    cursor.execute('''
    INSERT INTO books (title, author, year_published, genre)
    VALUES (?, ?, ?, ?)
    ''', ('Brave New World', 'Aldous Huxley', 1932, 'Dystopian'))

    cursor.execute('''
    UPDATE books
    SET year_published = ?
    WHERE title = ?
    ''', (1951, 'The Hobbit'))

    connection.commit()
    print("Транзакция успешно завершена.")
except Exception as e:
    connection.rollback()
    print(f"Ошибка: {e}. Изменения отменены.")
finally:
    connection.close()

Транзакция успешно завершена.

16. Пользовательская функция
Создайте пользовательскую функцию на Python, которая вычисляет возраст книги (текущий год минус год публикации), и используйте её в SQL-запросе.

In [24]:
import sqlite3
from datetime import datetime

def calculate_book_age(year_published):
    current_year = datetime.now().year
    return current_year - year_published if year_published else None

conn = sqlite3.connect('library.db')

conn.create_function("book_age", 1, calculate_book_age)
cursor = conn.cursor()

print("Возраст всех книг:")
cursor.execute('''
SELECT
    title,
    year_published,
    book_age(year_published) AS age
FROM books
''')

for row in cursor.fetchall():
    print(f"Книга: {row[0]}, Год публикации: {row[1]}, Возраст: {row[2]} лет")

conn.close()

Возраст всех книг:
Книга: 1984, Год публикации: 1984, Возраст: 41 лет
Книга: To Kill a Mockingbird, Год публикации: 1960, Возраст: 65 лет
Книга: The Hobbit, Год публикации: 1951, Возраст: 74 лет
Книга: Brave New World, Год публикации: 1932, Возраст: 93 лет

17. Представления
Создайте представление modern_books, которое содержит книги, опубликованные после 1950 года.

In [25]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

create_view_query = '''
CREATE VIEW IF NOT EXISTS modern_books AS
SELECT id, title, author, year_published, genre
FROM books
WHERE year_published > 1950
ORDER BY year_published DESC
'''

cursor.execute(create_view_query)
conn.commit()

print("Содержимое представления modern_books:")
cursor.execute("SELECT * FROM modern_books")
for row in cursor.fetchall():
    print(row)

conn.close()

Содержимое представления modern_books:
(2, '1984', 'George Orwell', 1984, 'Dystopian')
(3, 'To Kill a Mockingbird', 'Harper Lee', 1960, 'Classic')
(4, 'The Hobbit', 'J.R.R. Tolkien', 1951, 'Fantasy')

19. Композитный индекс
Создайте композитный индекс для столбцов author и year_published в таблице books.

In [26]:
import sqlite3

def create_composite_index():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    try:
        cursor.execute('''
        CREATE INDEX IF NOT EXISTS idx_books_author_year
        ON books (author, year_published)
        ''')
        conn.commit()
        print("Композитный индекс idx_books_author_year успешно создан")

        cursor.execute('''
        SELECT name FROM sqlite_master
        WHERE type = 'index' AND name = 'idx_books_author_year'
        ''')
        if cursor.fetchone():
            print("Индекс существует в базе данных")
        else:
            print("Индекс не был создан")

    except sqlite3.Error as e:
        print(f"Ошибка при создании индекса: {e}")
    finally:
        conn.close()

create_composite_index()

Композитный индекс idx_books_author_year успешно создан
Индекс существует в базе данных

18. Удаление таблицы
Удалите таблицу books и проверьте её существование.

In [27]:
import sqlite3

def safe_drop_table():
    conn = sqlite3.connect('library.db')
    cursor = conn.cursor()

    try:
        cursor.execute("DROP TABLE IF EXISTS books")
        conn.commit()

        cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
        tables = [table[0] for table in cursor.fetchall()]

        if 'books' not in tables:
            print("Таблица books успешно удалена")
        else:
            print("Не удалось удалить таблицу books")

    except sqlite3.Error as e:
        print(f"Ошибка: {e}")
    finally:
        conn.close()

safe_drop_table()

Таблица books успешно удалена

20. Удаление базы данных
Напишите программу, которая удаляет файл базы данных library.db, если он существует.

In [28]:
import sqlite3
import os

db_file = 'library.db'

connection = sqlite3.connect(db_file)

connection.close()

if os.path.exists(db_file):
    print(f"Удаляем базу данных '{db_file}'...")
    os.remove(db_file)
else:
    print(f"База данных '{db_file}' не существует.")

Удаляем базу данных 'library.db'...